body {
  height: 500px;
  width: 300px;
  background-color: #2c3033;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0.5vw;
}

.box {
  padding: 15px;
  background-color: #18191a;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

h3 {
  color: white;
  font-weight: 750;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  font-size: 20px;
}
h4 {
  color: white;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  font-size: 20px;
}

.warning {
  color: rgba(255, 255, 255, 0.829);
  background-color: #a7233965;
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: 400;
}

.button {
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 750;
  font-family: Arial, Helvetica, sans-serif;
  height: 60px;
  font-size: 30px;
  width: fit-content;
  margin-left: 3px;
  cursor: pointer;
  margin-bottom: 0.5vh;
}

.blue:hover {
  background-color: #03ac87;
}

.blue {
  background-color: #009473;
}

.red:hover {
  background-color: #d32e49;
}

.red {
  background-color: #a7233a;
}

.active {
  color: #009473;
}
.inactive {
  color: #a7233a;
}
.paused {
  color: burlywood;
}

button[customDisable] {
  cursor: auto;
  background-color: #6b686c;
}
button[customDisable]:hover {
  background-color: #6b686c;
}


select {
  width: 225px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
  font-size: 13px;
  color: white;
  font-weight: bold;
  background-color: #18191a;
}

option {
  color: white;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
  font-weight: 500;
}


.platform-icon {
  width: auto;
  height: 1rem;
}

